@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/


:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ab;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive; 
    --fonte-android: 'android', cursive;
}

* {
    margin: 0px;
    padding: 0px;

}

/* .destaque {

    background-color: rgba(255, 255, 0, 0.464);
}*/ /* o Destaque eu coloquei dentro do MAIN A direto, pois eram destaques apenas dos links*/

body { 
    background-color: var(--cor0);
    font-family:var(--fonte-padrao)
}



header{

    /* background-color: var(--cor4); */
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.457);
    

}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px; /*Quando bota largura máximo isso vira um bloco,aí,pra centralizar,tem q usar o margin auto*/
    margin: auto;
    padding-left: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.457);

}

nav { 
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.318);
    text-decoration: none;

}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {

    background-color: #3ddc84;
    color: #063d1e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition-duration: 0.3s;

}


main { 

    background-color: white;
    min-width: 280px;
    max-width: 850px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.481);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;

}

main p {

    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

main a {

    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    padding: 2px 6px;
    background-color: var(--cor1);
   
}

main a:hover {
    text-decoration:underline;
    color: var(--cor4);
}

main img {

    width: 100%;
}

main img.bugdroid-pq {

    /*width: 40%;*/

    max-width: 300px;
    display: block;
    margin: auto;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent );
    text-indent: 10px;
}


div.video {

    background-color: var(--cor2);
    margin-bottom: 30px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 57%; /*Esse é o % que tem que acertar para nao deixar bordas pretas no video*/
}

div.video > iframe{

    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}



aside { 

    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.311);
}

aside > h3 {

    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px;
    border-radius: 10px 10px 0px 0px;


}


aside p {

    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

aside > ul {

    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;

}

footer { 

    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

footer > p > a:hover {

    text-decoration: underline;
    color: var(--cor1);
} 