@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1,5em;
    
}

header{
    padding: 20px;
}

p, h1, h2 {
    margin-bottom: 10px;
    text-align: justify;
}


section.flex-content {
    background-color: rgba(128, 128, 128, 0.586);
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

section.class-normal {
    padding: 20px;
}

section > article {
    border: 3px dashed green;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

div.text {

    flex: 1 1 500px;
    border: 1px dashed blue;
}

div.media {
    flex: 1 0 500px;
    border: 1px dashed red;
  
}

div.media > iframe {
    display: block;
    margin: auto;
    width: 500px;
}